---
layout: page
description: "「 To Infinity and Beyond! 」<br>
                    <br> New York"
---
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<span id="busuanzi_container_site_pv" class="post-title">Welcome! You are the <span id="busuanzi_value_site_pv"></span>th visitor to my blog.</span>

{% if site.google_analytics %}
{% assign total_visits = 0 %}
{% assign tomorrow = site.time | date: "%Y-%m-%d" | date: "%s" | plus: 86400 | date: "%Y-%m-%d" %}
{% assign tomorrow_date = tomorrow | date: "%Y-%m-%d" %}
{% assign thirty_days_ago = tomorrow_date | date: "%s" | minus: 2592000 | date: "%Y-%m-%d" %}

{% for date in (tomorrow_date | date: "%s" | minus: thirty_days_ago | divided_by: 86400 | range: 0..30) %}
<!-- {{date}}   -->
{% assign total_visits = total_visits | plus: site.analytics.all[date | date: "%Y%m%d"] %}
{% endfor %}
{% assign total_visits = total_visits | default: 0 %}
<p>本站最近 30 天的访问量为：{{ total_visits }}</p>
{% endif %}

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'en' %}
                {{ post.content | strip_html | truncate:300 }}
            {% else %}
                {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}





