<script async src="https://www.googletagmanager.com/gtag/js?id=G-QSX9RGXGEW"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-QSX9RGXGEW');
</script>



{% assign total_visits = 0 %}
{% for date in (site.time | date: "%Y%m%d" | minus: 30..0) %}
{% assign total_visits = total_visits | plus: site.analytics.all[date] %}
{% endfor %}
{% assign total_visits = total_visits | default: 0 %}
<p>本站最近 30 天的访问量为：{{ total_visits }}</p>
